# Derived stub — upstream has no OpenAPI doc for v3 yet.
# Source: engines/tesote_api/config/routes.rb (v3 scope)
#         engines/tesote_api/app/controllers/tesote_api/v3/*
# Upstream repo: tesote/treasury
# Upstream commit: f28eeb2be39895cb1e8ff45a6b9cad3706c7491f
# Schemas marked `# stub:` are placeholders — serializers were not statically
# readable. Do NOT invent fields here; bump them when the upstream view
# templates land in a derivable form.
openapi: 3.1.0
info:
  title: Tesote API
  version: 3.0.0
  x-status: derived-stub
  description: |
    v3 derived stub. Endpoints, parameters, and request bodies are extracted
    from `engines/tesote_api/app/controllers/tesote_api/v3/*` and the v3 scope
    in `engines/tesote_api/config/routes.rb`. Response schemas are intentionally
    loose where the JSON view (jbuilder) was not parsed — flagged with comments.
  contact:
    name: Tesote API Support
    email: dev@tesote.com
  license:
    name: Proprietary
servers:
  - url: https://equipo.tesote.com/api/v3
    description: Production API server
  - url: https://equipo-staging.tesote.com/api/v3
    description: Staging API server
security:
  - bearerAuth: []
tags:
  - name: Status
  - name: Accounts
  - name: Transactions
  - name: SyncSessions
  - name: TransactionOrders
  - name: Batches
  - name: PaymentMethods
  - name: BalanceHistory
  - name: Categories
  - name: Counterparties
  - name: LegalEntities
  - name: Connections
  - name: Webhooks
  - name: Reports
  - name: Workspace
  - name: MCP
paths:
  /status:
    get:
      tags: [Status]
      operationId: status
      summary: Service status
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  version: { type: string, example: v3 }
                  authenticated: { type: boolean }

  /whoami:
    get:
      tags: [Status]
      operationId: whoami
      summary: Authenticated client info
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts:
    get:
      tags: [Accounts]
      operationId: listAccounts
      summary: List accounts
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }

  /accounts/{accountId}:
    parameters:
      - $ref: '#/components/parameters/AccountId'
    get:
      tags: [Accounts]
      operationId: getAccount
      summary: Get account
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
        '404':
          $ref: '#/components/responses/NotFound'

  /accounts/{accountId}/sync:
    parameters:
      - $ref: '#/components/parameters/AccountId'
    post:
      tags: [Accounts]
      operationId: syncAccount
      summary: Trigger a manual bank sync for the account
      responses:
        '202':
          description: Sync started
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
                  sync_session_id: { type: string }
                  status: { type: string }
                  started_at: { type: string, format: date-time }
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Sync already in progress
        '429':
          description: Sync rate-limit exceeded
        '503':
          description: Bank under maintenance

  /accounts/{accountId}/transactions:
    parameters:
      - $ref: '#/components/parameters/AccountId'
    get:
      tags: [Transactions]
      operationId: listTransactionsForAccount
      summary: List transactions for an account
      parameters:
        - { in: query, name: start_date, schema: { type: string, format: date } }
        - { in: query, name: end_date, schema: { type: string, format: date } }
        - { in: query, name: scope, schema: { type: string, enum: [deleted] } }
        - { in: query, name: page, schema: { type: integer, minimum: 1 } }
        - { in: query, name: per_page, schema: { type: integer, minimum: 1, maximum: 100 } }
        - { in: query, name: transactions_after_id, schema: { type: string, format: uuid } }
        - { in: query, name: transactions_before_id, schema: { type: string, format: uuid } }
        - { in: query, name: transaction_date_after, schema: { type: string, format: date } }
        - { in: query, name: transaction_date_before, schema: { type: string, format: date } }
        - { in: query, name: created_after, schema: { type: string, format: date-time } }
        - { in: query, name: updated_after, schema: { type: string, format: date-time } }
        - { in: query, name: amount_min, schema: { type: number } }
        - { in: query, name: amount_max, schema: { type: number } }
        - { in: query, name: amount, schema: { type: number } }
        - { in: query, name: status, schema: { type: string } }
        - { in: query, name: category_id, schema: { type: string, format: uuid } }
        - { in: query, name: counterparty_id, schema: { type: string, format: uuid } }
        - { in: query, name: q, schema: { type: string } }
        - { in: query, name: type, schema: { type: string } }
        - { in: query, name: reference_code, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
        '404':
          $ref: '#/components/responses/NotFound'

  /accounts/{accountId}/transactions/export:
    parameters:
      - $ref: '#/components/parameters/AccountId'
    get:
      tags: [Transactions]
      operationId: exportTransactionsForAccount
      summary: Export transactions (CSV or JSON)
      parameters:
        - { in: query, name: format, schema: { type: string, enum: [csv, json], default: csv } }
        - { in: query, name: transaction_date_after, schema: { type: string, format: date } }
        - { in: query, name: transaction_date_before, schema: { type: string, format: date } }
        - { in: query, name: created_after, schema: { type: string, format: date-time } }
        - { in: query, name: updated_after, schema: { type: string, format: date-time } }
        - { in: query, name: amount_min, schema: { type: number } }
        - { in: query, name: amount_max, schema: { type: number } }
        - { in: query, name: status, schema: { type: string } }
        - { in: query, name: category_id, schema: { type: string, format: uuid } }
        - { in: query, name: counterparty_id, schema: { type: string, format: uuid } }
        - { in: query, name: q, schema: { type: string } }
      responses:
        '200':
          description: File download (CSV or JSON)
        '422':
          description: Missing date range

  /accounts/{accountId}/transactions/sync:
    parameters:
      - $ref: '#/components/parameters/AccountId'
    post:
      tags: [Transactions]
      operationId: syncTransactionsForAccount
      summary: Cursor-based transaction sync
      parameters:
        - { in: query, name: count, schema: { type: integer, minimum: 1, maximum: 1000, default: 100 } }
        - { in: query, name: cursor, schema: { type: string } }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                count: { type: integer, minimum: 1, maximum: 1000 }
                cursor: { type: string }
                options:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }

  /transactions/{transactionId}:
    parameters:
      - $ref: '#/components/parameters/TransactionId'
    get:
      tags: [Transactions]
      operationId: getTransaction
      summary: Get a transaction by ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
        '404':
          $ref: '#/components/responses/NotFound'

  /transactions/sync:
    post:
      tags: [Transactions]
      operationId: syncTransactions
      summary: Cursor-based transaction sync (non-nested compatibility route)
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }

  /transactions/bulk:
    post:
      tags: [Transactions]
      operationId: bulkTransactions
      summary: Bulk-fetch transactions across accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [account_ids]
              properties:
                account_ids:
                  type: array
                  maxItems: 100
                  items: { type: string, format: uuid }
                start_date: { type: string, format: date }
                end_date: { type: string, format: date }
                scope: { type: string }
                limit: { type: integer }
                offset: { type: integer }
                per_page: { type: integer }
                page: { type: integer }
                sort: { type: string }
                include: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }

  /transactions/search:
    get:
      tags: [Transactions]
      operationId: searchTransactions
      summary: Full-text search across transactions
      parameters:
        - { in: query, name: q, required: true, schema: { type: string, maxLength: 500 } }
        - { in: query, name: account_id, schema: { type: string, format: uuid } }
        - { in: query, name: limit, schema: { type: integer, minimum: 1, maximum: 250, default: 100 } }
        - { in: query, name: offset, schema: { type: integer, minimum: 0, default: 0 } }
        - { in: query, name: transaction_date_after, schema: { type: string, format: date } }
        - { in: query, name: transaction_date_before, schema: { type: string, format: date } }
        - { in: query, name: amount_min, schema: { type: number } }
        - { in: query, name: amount_max, schema: { type: number } }
        - { in: query, name: status, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }

  /accounts/{accountId}/sync_sessions:
    parameters:
      - $ref: '#/components/parameters/AccountId'
    get:
      tags: [SyncSessions]
      operationId: listSyncSessionsForAccount
      summary: List sync sessions for an account
      parameters:
        - { in: query, name: limit, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
        - { in: query, name: offset, schema: { type: integer, minimum: 0, default: 0 } }
        - { in: query, name: status, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }

  /accounts/{accountId}/sync_sessions/{id}:
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [SyncSessions]
      operationId: getSyncSession
      summary: Get a sync session
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
        '404':
          $ref: '#/components/responses/NotFound'

  /accounts/{accountId}/transaction_orders:
    parameters:
      - $ref: '#/components/parameters/AccountId'
    get:
      tags: [TransactionOrders]
      operationId: listTransactionOrders
      summary: List transaction orders for an account
      parameters:
        - { in: query, name: status, schema: { type: string } }
        - { in: query, name: created_after, schema: { type: string, format: date-time } }
        - { in: query, name: created_before, schema: { type: string, format: date-time } }
        - { in: query, name: batch_id, schema: { type: string } }
        - { in: query, name: limit, schema: { type: integer, minimum: 1, maximum: 250, default: 50 } }
        - { in: query, name: offset, schema: { type: integer, minimum: 0, default: 0 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
    post:
      tags: [TransactionOrders]
      operationId: createTransactionOrder
      summary: Create a transaction order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [transaction_order]
              properties:
                transaction_order:
                  type: object
                  properties:
                    destination_payment_method_id: { type: string, format: uuid }
                    amount: { type: string }
                    currency: { type: string }
                    description: { type: string }
                    scheduled_for: { type: string, format: date-time }
                    idempotency_key: { type: string }
                    beneficiary:
                      type: object
                      properties:
                        name: { type: string }
                        bank_code: { type: string }
                        account_number: { type: string }
                        identification_type: { type: string }
                        identification_number: { type: string }
                    metadata:
                      type: object
                      additionalProperties: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { type: object }

  /accounts/{accountId}/transaction_orders/{id}:
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [TransactionOrders]
      operationId: getTransactionOrder
      summary: Get a transaction order
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
        '404':
          $ref: '#/components/responses/NotFound'

  /accounts/{accountId}/transaction_orders/{id}/submit:
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    post:
      tags: [TransactionOrders]
      operationId: submitTransactionOrder
      summary: Submit a transaction order to the bank
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                token: { type: string }
      responses:
        '202':
          description: Submitted
          content:
            application/json:
              schema: { type: object }
        '409':
          description: Invalid order state

  /accounts/{accountId}/transaction_orders/{id}/cancel:
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    post:
      tags: [TransactionOrders]
      operationId: cancelTransactionOrder
      summary: Cancel a transaction order
      responses:
        '200':
          description: Cancelled
          content:
            application/json:
              schema: { type: object }
        '409':
          description: Cannot be cancelled

  /accounts/{accountId}/batches:
    parameters:
      - $ref: '#/components/parameters/AccountId'
    post:
      tags: [Batches]
      operationId: createBatch
      summary: Create a batch of transaction orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              # stub: BuildApiBatchParams shapes the input — top-level is `orders`
              required: [orders]
              properties:
                orders:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
      responses:
        '201':
          description: Batch created
          content:
            application/json:
              schema: { type: object }

  /accounts/{accountId}/batches/{batchId}:
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - { in: path, name: batchId, required: true, schema: { type: string } }
    get:
      tags: [Batches]
      operationId: getBatch
      summary: Get a batch summary
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: BatchSummary not parsed
              schema: { type: object }
        '404':
          $ref: '#/components/responses/NotFound'

  /accounts/{accountId}/batches/{batchId}/approve:
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - { in: path, name: batchId, required: true, schema: { type: string } }
    post:
      tags: [Batches]
      operationId: approveBatch
      summary: Approve a batch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }

  /accounts/{accountId}/batches/{batchId}/submit:
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - { in: path, name: batchId, required: true, schema: { type: string } }
    post:
      tags: [Batches]
      operationId: submitBatch
      summary: Submit a batch to the bank
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                token: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }

  /accounts/{accountId}/batches/{batchId}/cancel:
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - { in: path, name: batchId, required: true, schema: { type: string } }
    post:
      tags: [Batches]
      operationId: cancelBatch
      summary: Cancel a batch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }

  /accounts/{accountId}/balance_history:
    parameters:
      - $ref: '#/components/parameters/AccountId'
    get:
      tags: [BalanceHistory]
      operationId: listBalanceHistoryForAccount
      summary: Account balance history
      parameters:
        - { in: query, name: granularity, schema: { type: string, enum: [daily, weekly, monthly], default: daily } }
        - { in: query, name: start_date, schema: { type: string, format: date } }
        - { in: query, name: end_date, schema: { type: string, format: date } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: BalanceHistory::Query result not parsed
              schema: { type: object }
        '422':
          description: Invalid date range or granularity

  /payment_methods:
    get:
      tags: [PaymentMethods]
      operationId: listPaymentMethods
      summary: List payment methods
      parameters:
        - { in: query, name: method_type, schema: { type: string } }
        - { in: query, name: currency, schema: { type: string } }
        - { in: query, name: counterparty_id, schema: { type: string, format: uuid } }
        - { in: query, name: verified, schema: { type: string, enum: ['true', 'false'] } }
        - { in: query, name: limit, schema: { type: integer, minimum: 1, maximum: 250, default: 50 } }
        - { in: query, name: offset, schema: { type: integer, minimum: 0, default: 0 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
    post:
      tags: [PaymentMethods]
      operationId: createPaymentMethod
      summary: Create a payment method
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payment_method]
              properties:
                payment_method:
                  type: object
                  required: [method_type, currency]
                  properties:
                    method_type: { type: string }
                    currency: { type: string }
                    label: { type: string }
                    counterparty_id: { type: string, format: uuid }
                    details:
                      type: object
                      additionalProperties: true
                    counterparty:
                      type: object
                      properties:
                        name: { type: string }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { type: object }

  /payment_methods/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [PaymentMethods]
      operationId: getPaymentMethod
      summary: Get a payment method
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [PaymentMethods]
      operationId: updatePaymentMethod
      summary: Update a payment method
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [payment_method]
              properties:
                payment_method:
                  type: object
                  properties:
                    method_type: { type: string }
                    currency: { type: string }
                    label: { type: string }
                    counterparty_id: { type: string, format: uuid }
                    details:
                      type: object
                      additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }
    delete:
      tags: [PaymentMethods]
      operationId: deletePaymentMethod
      summary: Delete a payment method
      responses:
        '204':
          description: Deleted
        '409':
          description: In use by active transaction orders

  /categories:
    get:
      tags: [Categories]
      operationId: listCategories
      summary: List transaction categories
      parameters:
        - { in: query, name: parent_id, schema: { type: string, format: uuid } }
        - { in: query, name: root, schema: { type: string, enum: ['true', 'false'] } }
        - { in: query, name: q, schema: { type: string, maxLength: 500 } }
        - { in: query, name: limit, schema: { type: integer, minimum: 1, maximum: 500, default: 100 } }
        - { in: query, name: offset, schema: { type: integer, minimum: 0, default: 0 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
    post:
      tags: [Categories]
      operationId: createCategory
      summary: Create a category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [category]
              properties:
                category:
                  type: object
                  required: [name]
                  properties:
                    name: { type: string }
                    color: { type: string }
                    parent_id: { type: string, format: uuid }
                    external_category_code: { type: string }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { type: object }

  /categories/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [Categories]
      operationId: getCategory
      summary: Get a category
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Categories]
      operationId: updateCategory
      summary: Update a category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [category]
              properties:
                category:
                  type: object
                  properties:
                    name: { type: string }
                    color: { type: string }
                    parent_id: { type: string, format: uuid }
                    external_category_code: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }
    delete:
      tags: [Categories]
      operationId: deleteCategory
      summary: Soft-delete a category
      responses:
        '204':
          description: Deleted

  /counterparties:
    get:
      tags: [Counterparties]
      operationId: listCounterparties
      summary: List counterparties
      parameters:
        - { in: query, name: q, schema: { type: string, maxLength: 500 } }
        - { in: query, name: has_email, schema: { type: string, enum: ['true', 'false'] } }
        - { in: query, name: limit, schema: { type: integer, minimum: 1, maximum: 250, default: 50 } }
        - { in: query, name: offset, schema: { type: integer, minimum: 0, default: 0 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
    post:
      tags: [Counterparties]
      operationId: createCounterparty
      summary: Create a counterparty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [counterparty]
              properties:
                counterparty:
                  type: object
                  required: [name]
                  properties:
                    name: { type: string }
                    email: { type: string, format: email }
                    external_identifier: { type: string }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { type: object }

  /counterparties/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [Counterparties]
      operationId: getCounterparty
      summary: Get a counterparty
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Counterparties]
      operationId: updateCounterparty
      summary: Update a counterparty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [counterparty]
              properties:
                counterparty:
                  type: object
                  properties:
                    name: { type: string }
                    email: { type: string, format: email }
                    external_identifier: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }
    delete:
      tags: [Counterparties]
      operationId: deleteCounterparty
      summary: Soft-delete a counterparty
      responses:
        '204':
          description: Deleted

  /legal_entities:
    get:
      tags: [LegalEntities]
      operationId: listLegalEntities
      summary: List legal entities
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }

  /legal_entities/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [LegalEntities]
      operationId: getLegalEntity
      summary: Get a legal entity
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
        '404':
          $ref: '#/components/responses/NotFound'

  /connections:
    get:
      tags: [Connections]
      operationId: listConnections
      summary: List bank connections
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }

  /connections/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [Connections]
      operationId: getConnection
      summary: Get a bank connection
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
        '404':
          $ref: '#/components/responses/NotFound'

  /connections/{id}/status:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [Connections]
      operationId: getConnectionStatus
      summary: Latest sync session status for a connection
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }

  /webhooks:
    get:
      tags: [Webhooks]
      operationId: listWebhooks
      summary: List webhook subscriptions
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
    post:
      tags: [Webhooks]
      operationId: createWebhook
      summary: Create a webhook subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [webhook]
              properties:
                webhook:
                  type: object
                  required: [url]
                  properties:
                    url: { type: string, format: uri }
                    description: { type: string }
                    active: { type: boolean }
                    subscribed_events:
                      type: array
                      items: { type: string }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { type: object }

  /webhooks/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [Webhooks]
      operationId: getWebhook
      summary: Get a webhook subscription
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Webhooks]
      operationId: updateWebhook
      summary: Update a webhook subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [webhook]
              properties:
                webhook:
                  type: object
                  properties:
                    url: { type: string, format: uri }
                    description: { type: string }
                    active: { type: boolean }
                    subscribed_events:
                      type: array
                      items: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }
    delete:
      tags: [Webhooks]
      operationId: deleteWebhook
      summary: Delete a webhook subscription
      responses:
        '204':
          description: Deleted

  /reports/cash_flow:
    get:
      tags: [Reports]
      operationId: cashFlowReport
      summary: Cash-flow report
      parameters:
        - { in: query, name: period, schema: { type: string, enum: [daily, weekly, monthly], default: monthly } }
        - { in: query, name: start_date, schema: { type: string, format: date } }
        - { in: query, name: end_date, schema: { type: string, format: date } }
        - { in: query, name: account_id, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: Reports::CashFlowQuery result not parsed
              schema: { type: object }
        '422':
          description: Invalid date range or period

  /workspace:
    get:
      tags: [Workspace]
      operationId: getWorkspace
      summary: Get the current workspace
      responses:
        '200':
          description: OK
          content:
            application/json:
              # stub: serializer not parsed
              schema: { type: object }

  /mcp:
    post:
      tags: [MCP]
      operationId: handleMcp
      summary: MCP (Model Context Protocol) JSON-RPC endpoint
      description: |
        Pass-through JSON-RPC 2.0 endpoint. Accepts a single object or an array
        of requests. SDKs should expose a raw call surface and let the caller
        deal with the JSON-RPC envelope.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/JsonRpcRequest'
                - type: array
                  items:
                    $ref: '#/components/schemas/JsonRpcRequest'
      responses:
        '200':
          description: JSON-RPC response (object or array of objects)
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    additionalProperties: true
                  - type: array
                    items:
                      type: object
                      additionalProperties: true

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    AccountId:
      in: path
      name: accountId
      required: true
      schema: { type: string, format: uuid }
      description: Tesote account ID (mapped from :tesote_account_id)
    TransactionId:
      in: path
      name: transactionId
      required: true
      schema: { type: string, format: uuid }
    Page:
      in: query
      name: page
      schema: { type: integer, minimum: 1 }
    PerPage:
      in: query
      name: per_page
      schema: { type: integer, minimum: 1, maximum: 100 }

  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      required: [error, error_code]
      properties:
        error: { type: string }
        message: { type: string }
        error_code: { type: string }
        error_id: { type: string, format: uuid }
        retry_after: { type: integer }

    JsonRpcRequest:
      type: object
      required: [jsonrpc, method]
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        id:
          oneOf:
            - { type: string }
            - { type: integer }
            - { type: 'null' }
        method: { type: string }
        params:
          type: object
          additionalProperties: true
